iframe{
    float: right;
    width: 355px;
    height: 20px;
    border-style: none;
    background-color: rgb(202, 202, 202);
}
#bar{
    width: 100%;
    height: 20px;
    background-color: rgb(202, 202, 202);
    float: none;
    padding-top: 3px;
    padding-bottom: 3px;
}
.banner{
    background-color: 	#FF6347;
    width: 100%;
    height: 100px;
}