body,html{
    margin: 0;
    background-color: #fdfdfd;
}
.img{
    background-repeat: no-repeat;
    background-size: contain;
}
/* .layui-row{
    background-color: aqua;
} */
.show{
    height: 400px;
}
.gooddetile{
    height: 80%;
    width: 100%;
}
.good-name{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "黑体";
    font-weight: 900;
    line-height: 31px;
    margin-bottom: 20px;
}
.good-price{
    margin-bottom: 20px;
    height: 40px;
    float: none;
}
.good-price>.lable{
    width: 4em;
    height: 100%;
    line-height: 200%;
    font-size: 15px;
    float: left;
}
.gooddetile>.lable{
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    float: none;
    height: auto;
    overflow: hidden;
}
.good-price .price{
    font-weight:700;
    height: 100%;
    line-height: 100%;
    font-size: 34px;
    color: #FF0000;
    float: left;
}
.good-price b{
    float: left;
    line-height: 150%;
    font-size: 24px;
    color:	rgb(141, 141, 141);
}
#buy{
    margin-top: 10%;
    font-weight: 500;
    font-family: "幼圆";
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #FF4500;
    background-color: #FF4500;
}
#buy:hover{
    background-color: #FF8C00;
}
.buy{
    height: 30%;
    width: 100%;
}
#talk{
    margin-left: 30px;
    margin-top: 10%;
    font-weight: 500;
    font-family: "幼圆";
    font-size: 18px;
    color: #000;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #E6E6FA;
    background-color: #E6E6FA;
}
#talk:hover{
    background-color: #20B2AA;
    color: white;
}
.pictures{
    width: 80%;

    margin: 0 auto;
    margin-top: 100px;
}
.pictures>.img{
    margin: 0 auto;
    width: 500px;
    height: 500px;
}
.saller{
    background-color: #C0C0C0;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.reviewarea{
    margin-top: 20px;
    width: 100%;
    height: 400px;
}
.reviewbox{
    background-color: white;
    width: 1100px;
    height: 100%;
    overflow-y: auto;
    margin: 0 auto;
    margin-bottom: 70px;
}
.reviewitem{
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}
.lable{
    width: 100%;
    height: 50px;
}
.lable .img{
    background-size: cover;
    margin-top: 5px ;
    margin-left: 5px;
    float: left;
    background-color: #fcff81;
    width: 45px;
    height: 45px;
}
.lable .name{
    margin-top: 25px;
    float: left;
    font-size: 18px;
    margin-left: 10px;
}
.lable .date{
    float: left;
    margin-top: 26px;
    font-size: 14px;
    color: #cacaca;
    margin-left: 10px;
}
.text{
    text-indent: 2em;
    font-size: 16px;
    color: grey;
}
.noreview{
    width: 100%;
    height: 100px;
    font-weight: bolder;
    text-align: center;
    line-height: 400px;
    letter-spacing: 50px;
    font-size: 50px;
    color: #c6c6c6;
}
.head{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #dedede;
}
.tittle{
    float: left;
    margin-left: 14px;
    margin-top: 9px;
}
.button{
    color: white;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #6774b8;
    float: right;
    margin-right:14px;
    margin-top: 9px;
}
.button:active{
    background-color: #8f9eec !important;
}
.button:hover{
    background-color: #7685cf;
}
.banner>.container{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.banner>.container>a{
    height: 65px;
    line-height: 63px;
    width: 85px;
    display: block;
    float: left;
    text-align: center;
    color: white;
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.banner>.container>a:hover{
    height: 62px;
    border-width: 0px;
    border-bottom: 3px solid #e0ffa0;
    background-color: rgb(255, 159, 137);
    color: black;
}
.banner>.container>a:active{
    height: 62px;
    border-width: 0px;
    border-bottom: 3px solid #c8ff6f;
    background-color: rgb(255, 214, 209);
    color: black;
}