body{
    background-image: url("/img/webpage/doodles.png");
}
#regiter-form{
    background-color: #dafcf618;
    border: #696969 solid 1px;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}
.title{
    width: 6em;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
}
.input,.layui-input-inline>.input[type='text']{
    /* width: 20%; */
    border:none;
    height: 35px;
    background-color: transparent;
}
.layui-input-inline,.input[type='text']{
    border-bottom: #DCDCDC solid 1px;
 }
.layui-icon-password{
    color:#808080;
    cursor: pointer;  
} 
