body{
    background-image: url("/img/webpage/doodles.png");
}
#regiter-form{
    background-color: #dafcf618;
    border: #696969 solid 1px;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.title{
    width: 6em;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    margin: 0 auto;
}
.input,.layui-input-inline>.input[type='text']{
    /* width: 20%; */
    border:none;
    height: 35px;
    background-color: transparent;
}
.layui-input-inline,.input[type='text']{
    border-bottom: #DCDCDC solid 1px;
 }
.layui-icon-password{
    color:#808080;
    cursor: pointer;  
} 
input[type='file']{
    display: none;
}
label[for="img"]{
    background-size: cover;
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 0;
    text-align: center;
    line-height: 80px;
    background-color: #ececec;
}
button[type="reset"]+.layui-btn{
    position: relative;
}
.buttonback{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
@keyframes counttime{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.buttonback>*{
    display: block;
}
.lable:hover{
    color: #a8a8a8;
}
.lable:active{
    color: #d8d8d8;
}