body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}
form textarea{
    resize: none;
    width: 290px;
    height: 30px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
}
.imgprev{
    width: 100px;
    height: 100px;
    background-size: contain;
    display: inline-block;
}
.fa-plus{
    color: rgb(124, 124, 124);
}
label{
    line-height: 90px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(199, 199, 199);
    width: 80px;
    height: 80px;
}
input[type="file"]{
    display: none;
}
.clipimg{
    margin-right:0;
    background-size: contain;
    margin-right: 6px;
    margin-bottom: 6px;
}
.clipimg>.fa{
    color: transparent;
}
textarea:focus{
    height: 100px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
}
form{
    width: 350px;
    height: auto;
}
.formbox{
    margin: 0 auto;
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
table tr td:first-of-type{
    width: 40px;
}